<h1>Admin Page</h1>

{{#each model as |project|}}
<div class="adminTile">
  {{project-tile project=project}}
  <div class="adminButtons">
    {{update-project project=project updateProject="updateProject"}}
    <button class="shortBtn"{{action 'delete' project}}>Delete Project</button>
  </div>
</div>
{{/each}}

<hr>
{{new-project project=model saveProject="saveProject"}}

{{log model}}
